@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
  --lightblue: #c5d3ff;
  --darkblue: #b8c9ff;
  --darkerblue: #97afff;
  --shadow: rgb(155, 155, 155);

}

#root {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--lightblue);
}

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: var(--darkblue);
  box-shadow: 0px 10px 5px -3px var(--shadow);
  border-radius: 5px 0px;
}

.nav-link {
  text-align: center;
  border-radius: 10px;
  min-width: 150px;
  transition: background-color .5s ease;
}

.nav-link:hover {
  box-shadow: 3px 5px 10px -5px var(--shadow);
}

.nav-link:active,
.nav-link:visited
{
  background-color: var(--darkerblue);
  box-shadow: inset 3px 5px 10px -5px var(--shadow);
}

.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* create 2 columns with equal width */
  grid-gap: 10px; /* add a gap of 10px between the grid items */
}

.img-item {
  width: 100%;
}

.modal-header {
  background-color: var(--darkblue);
}

.modal-body {
  box-shadow: 0px 10px 5px -3px var(--shadow);
}


.custom-btn {
  background-color: var(--darkerblue);
  border-color: var(--darkerblue);
  color: black;
}

.custom-modal, .modal-dialog {
  width: 70%;
  max-width: 70%;
}








